body {
    font-family: 'Nunito Sans', sans-serif;
}

.center {
    text-align: center;
}

#name-brand {
    color: white;
}

.navbar-nav a {
    color: white;
}

#introduction {
    /*background-image: url("stone.JPG");*/
    background-position: center; 
    background-size: 100%;
    height:500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#introduction hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.chinese {
    font-family: 'Noto Serif TC', serif;
    word-spacing: 10px;
}

.description {
    margin-top: 50px;
}

#information td:nth-child(1), #information td:nth-child(3) {
    font-weight: 600;
    padding-right: 15px;
}

#information td:nth-child(2) {
    padding-right: 30px;
}

#information td {
    line-height: 40px;
}

.my-icon {
    font-size: 30pt; 
}

paper::before {
    content:'"';
}

paper::after {
    content:'"';
}

paper {
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
    color: #087F8C;
}

paper:hover {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}

publisher {
    font-weight: 900;
    color: #5E0035;
    cursor: pointer;
}

publisher:hover {
    color: #A77390; 
}

.project {
    margin-top: 30px;
    margin-bottom: 30px;
}

.project_title {
    font-size: 25pt;
    font-weight: bold;
    margin-bottom: -10px;
}

.project_subtitle {
    font-style: italic;
    margin-bottom: 15px;
}

place::before {
    content: "Research Lab:";
    margin-right: 10px;
    font-weight: bold;
    color: black;
}

place {
    font-style: italic;
    display: block; 
    color: #3496A0;
    cursor: pointer;
}

place:hover {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}

advisor::before {
    content: "Advisor:";
    margin-right: 10px;
    font-weight: bold;
    color: black;
}

advisor {
    font-weight: bold;
    display: block;
    color: #3496A0;
    cursor: pointer;
}

advisor:hover {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}

#navbarNavAltMarkup a{
    font-weight: bold;
}

.item_name {
    font-weight: bold;
    padding-right: 20px;
    line-height: 35pt;
    vertical-align: unset;
}

#social a{
    margin-left: 10px;
    margin-right: 10px;
}

#social a:hover {
    text-decoration: none;
}

year {
    font-weight: bold;
}

year::before {
    content: "Year:";
    margin-right: 10px;
    font-weight: bold;
}

.star_project .project_title::after {
    content: "*";
}

#footer {
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 60px;
    text-align: center;
}

#news table td:nth-child(1)::before {
    content: "•";
}

#publication_list li{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

papertitle {
    display: block;
    font-weight: bold;
}

authorlist {
    display: block;
}

me {
    text-decoration: underline;
    font-weight: bold;
}

conference {
    font-style: italic;
    font-size: 13pt;
    display:block;
}

conferenceAbb::before {
    content: "(";
}
conferenceAbb {
    font-weight: bold;
    font-size: 13pt;
    display: inline-block;
}
conferenceAbb::after {
    content: ")";
}
arXiv, pdf, poster, slides, github {
    color: #118AB2;
    cursor: pointer;
}
arXiv:hover, pdf:hover {
    font-weight: bold;
}

arXiv::before {
    content: "[arXiv]";
}

pdf::before {
    content:"[paper]"
}

poster::before {
    content:"[poster]"
}

slides::before {
    content:"[slides]"
}

github::before {
    content:"[Github]";
}


